{% extends "base.html" %}
        {% block content %}
		  <div class="display-4" style="text-align: center;">Send Money</div>
        <div class="card">
			<div class="card-body">
				<div class="flex-wrap">
			<form class="form-signin" action="/send/done" method="post">
		{% for message in get_flashed_messages() %}
		<div class="alert-danger" style="; color: #D30000; font-size: 18px; text-align: center">{{message}}</div>
		{% endfor %}
		{{ form.hidden_tag() }}
		{{ form.fr(class_="form-control", placeholder="Select Account", required="", autofocus="") }}
		{{ form.to(class_="form-control", placeholder="Enter Beneficiary Account IBAN or UniTS Account Number", required="") }}
		{{ form.amount(class_="form-control", placeholder="Enter Amount", required="") }}
		{{ form.comments(class_="form-control", placeholder="Comments", required="") }}
		{{ form.otp(class_="form-control", placeholder="Enter OTP", required="") }}
				<span><a class="nav-link" href="/send/{{hsh}}" style="text-align: center">Click here to generate OTP</a></span>
		{{ form.submit(class_="btn btn-lg btn-primary btn-block", placeholder="Submit") }}  
    </form>
					</div>
				</div>
  </div>
		{% endblock %}